MONGO_URI=mongodb://harishcc2007_db_user:RMV0OSs2rKWsHorB@ac-duh1nhs-shard-00-00.9hkp49l.mongodb.net:27017,ac-duh1nhs-shard-00-01.9hkp49l.mongodb.net:27017,ac-duh1nhs-shard-00-02.9hkp49l.mongodb.net:27017/mernDB?ssl=true&replicaSet=atlas-fh9yfj-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
PORT=5000
JWT_SECRET=demo_jwt_secret_key_2024
